<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.rainbowbreeze.picama" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".common.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/common_app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name=".ui.old.PicturesRecyclerActivity"
            android:label="@string/common_app_name" >
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/common_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.FullscreenPictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/fullscreen_actTitle"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings_actTitle" >
        </activity>
        <activity
            android:name=".ui.DropboxSettingsActivity"
            android:label="@string/dropboxsettings_actTitle" >
            <intent-filter>
                <action android:name="action_StartDropboxSettings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GDriveSettingsActivity"
            android:label="@string/gdrivesettings_actTitle" >
            <intent-filter>
                <action android:name="action_StartGDriveSettings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-ueahnhl3wy8htkq" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.provider.PictureProvider"
            android:authorities="it.rainbowbreeze.picama.provider"
            android:exported="false"
        />

        <service
            android:name=".logic.wearable.SendDataToWearService"
            android:exported="false" >
        </service>
        <service android:name=".logic.UpdatePictureFieldsService" >
            <intent-filter>
                <action android:name="it.rainbowbreeze.picama.Action.Picture.Hide" />
                <action android:name="it.rainbowbreeze.picama.Action.Picture.Save" />
            </intent-filter>
        </service>
        <service android:name=".logic.wearable.ReceiveDataFromWearService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name=".logic.RefreshPicturesService"
            android:exported="false"
        >
            <intent-filter>
                <action android:name="it.rainbowbreeze.picama.Action.Picture.Refresh" />
            </intent-filter>
        </service>

        <receiver android:name=".logic.RefreshPictureReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
